name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
    - name: Build
      run: cd rust && cargo build
    - name: Run tests
      run: cd rust && cargo test
